#X1 YOGA 2nd GEN (OLED)
alias b="xrandr --output eDP-1 --brightness $1"

# OS
alias up="sudo apt update && sudo apt upgrade -y && sudo apt autoremove -y && omz update"
alias install="sudo dpkg -i $1"
alias open="nautilus ."
# alias ls="ls -lA"
alias temp="cat /sys/class/thermal/thermal_zone*/temp"
alias plz="sudo"
alias free-space="sudo journalctl --vacuum-time=2d;sudo apt autoremove;sudo apt autoclean;rm -rf ~/.cache/thumbnails/*"

# Super lazy
alias c="clear"
alias s="yarn start"
alias t="yarn test"
alias b="yarn build"
alias hl="hyperlayout"
alias h="hyperlayout 2"
alias d="yarn deploy"
alias dd="yarn dev"
alias yup="yarn upgrade-interactive --latest"

# Move around
alias ..="cd .."
alias ...="cd ../.."
alias pr="cd ~/projects"
alias dl="cd ~/Downloads"
alias mv="mv -v"
alias nhi="pr;@nhi"
alias nel="pr;nel-ux-web"
alias calc="nhi;calculators"
alias shorten="pr;url-shortener;npm run shorten"
# Personal
alias ww="cd ~/projects/workzilla/web"
alias 44="cd ~/projects/44"
alias ba="cd ~/projects/bibic-vendeghazak/admin"
alias bb="cd ~/projects/bibic-vendeghazak/web"
alias bc="cd ~/projects/bibic-vendeghazak/cloud-functions;code;cd functions"
alias bo="cd ~/projects/balazsorban.com"
alias ntnu="pr;cd NTNU"
alias bacs="ba;cs"
alias bbcs="bb;cs"
alias tms="pr;tmslite/tmslite;hyperlayout tms"
alias ef="pr;ecatch/web"
alias eb="pr;ecatch/backend"
alias pa="pr;TDT4240-group-24"
alias op="pr;order-pages"
alias ui="pr;ui"
alias zarn="yarn"
alias yarn-up="curl --compressed -o- -L https://yarnpkg.com/install.sh | bash"
alias na="pr;cd nextauthjs/next-auth"

# Git related
alias g="git"
alias gs="git status"
alias glog="git log --oneline --color | emojify | less -r"
alias add="git add"
alias gr="git reset --hard"
alias pull="git pull"
alias push="git push"
alias gc="gitmoji -c"
alias gl='git commit -m "🤖 lazy commit"'
alias cb="git checkout $1"

# Text editor
alias code="code ."

# .
alias dot="cd ~/dotfiles"
alias ddown="dotfiles update"
alias dup="dot;add -A;git commit -m ':robot: Lazy commit by a robot.';push;cd -"
alias als="nano ~/dotfiles/.aliases"
alias func="nano ~/dotfiles/.functions"
alias brc="nano ~/dotfiles/.bashrc"
alias zrc="nano ~/dotfiles/.zshrc"
alias hrc="nano ~/dotfiles/.hyper.js"
alias vrc="vi ~/dotfiles/.vimrc"
# Dev
alias cs="code .;yarn start"
alias myip="curl ifconfig.co;curl ifconfig.co/city"
alias rmnm="find . -name "node_modules" -type d -prune -exec rm -rf '{}' +"

# Typo
alias zarn="yarn"
